{% extends "base.html" %}

{% block title %} Main Page {% endblock %}


{% block content %}

    <h1>Main Page</h1>

    <h2>Messages Generator</h2>
    <form method="post" action="/add_message">
        <input type="text" name="text">
        <input type="text" name="tag">
        <button type="submit">Add message</button>
    </form>

    <h3>Messages List</h3>
    {% for message in messages_from_db %}
    <div>{{ message.text }}
        {% for tag in message.tags %}
            <b>#{{ tag.text }}</b>
        {% endfor %}
    </div>
    {% endfor %}

{% endblock %}