{% extends "base.html" %}

{% block title %} File Upload {% endblock %}


{% block content %}

    <h1>File Upload</h1>
    <!--    <form method="post" action="" enctype="multipart/form-data">-->
            <!-- <p><input type="file" name="doc_file" accept=".doc,.docx"></p>-->
    <!--      <p><input type="file" name="image_file" accept="image/*"></p>-->
    <!--      <p><input type="submit" value="Submit"></p>-->
    <!--    </form>-->

    <!--    <hr>-->
    <!--    {% if files %}-->
    <!--        {% for file in files %}-->
    <!--            <img class="avatar" src="/static/img/ormrO7X6yI.jpg" alt="Bill Gates photo - when buys a Linux." style="width: 64px">-->
    <!--        {% endfor %}-->
    <!--    {% endif %}-->

    <form class="dropzone" action="{{ url_for('upload_avatar_from_user') }}">
    </form>

    <form method="post" action="{{ url_for('before_upload_avatar2') }}">
        <button type="submit">Submit (not working yet, just drag and drop avatar files)</button>
    </form>


    {% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.6/min/dropzone.min.js"></script>
    {% endblock javascripts %}

{% endblock %}